<div class="row">
    <main class="col-md-12">
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1>About Page</h1>
                        <h3>About Us</h3>
                        <p>
                            Welcome to our college administration system! Our platform is designed to simplify the management of student and course data for 
                            educational institutions. Whether you're an administrator, faculty member, or student, our system provides a user-friendly interface
                            to access and update important information.
                        </p>
                        <h3>Our Mission</h3>
                        <p>
                            Our Mission
                            At Seneca College, our mission is to empower students and educators by providing efficient tools for managing academic data. We aim to streamline 
                            administrative processes, enhance communication, and improve overall efficiency within the institution.
                        </p> 
                        <h3>Key Features</h3>
                        <p>
                            Student Management:Easily add, update, and delete student records. View comprehensive student profiles, including personal information, enrollment status, and courses enrolled.
                            Course Management: Manage course offerings, including course codes, descriptions, and enrollment details. Keep track of course schedules and availability.
                            User-Friendly Interface: Our platform offers an intuitive interface that is easy to navigate for administrators, faculty, and students alike.
                            Secure and Reliable: Rest assured that your data is safe and secure with our robust security measures and regular backups.
                            Responsive Support: Our dedicated support team is available to assist you with any questions or issues you may encounter while using our platform.
                        </p>
                        <h3>Contact Us</h3>
                        <p>We value your feedback and are always looking for ways to improve our platform. If you have any questions, suggestions, or concerns, please don't hesitate to contact us.
                            Email: Agonzales19@myseneca.ca
                            Phone: 43766*****
                        </p>
                        </div>
                </div>
            </div>
        </section>
    </main>
</div>
