<div class="row">
    <main class="col-md-12">
        <!-- Start your code here -->
        <section id="home">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="text-center">
                            <img src="https://static.boredpanda.com/blog/wp-content/uploads/2014/10/surprised-shocked-animals-funny-25__700.jpg" alt="Profile Picture" class="rounded-circle">
                            <h2 class="mt-3">Welcome to My Portfolio</h2>
                            <p class="lead">Hi there! I'm Andrew Gonzales, a passionate web developer.</p>
                            <hr class="my-4">
                            <p>This is my creative corner where I showcase my work and ideas.</p>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">About Me</h5>
                                        <p class="card-text">I'm a student at Seneca College studying Business Information Technology. I love coding and building amazing web experiences.</p>
                                        <a href="#about" class="btn btn-primary">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Projects</h5>
                                        <p class="card-text">Check out some of my awesome projects I've been working on.</p>
                                        <a href="#projects" class="btn btn-primary">View Projects</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End your code here -->
    </main>
</div>
